/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
    font-family: 'Elms Sans', sans-serif;
}

body {
    font-family: 'Elms Sans', sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.navbar-brand {
    font-family: 'Arvo', serif;
    font-weight: 700;
}

.card-title {
    font-family: 'Arvo', serif;
}

.btn {
    font-family: 'Elms Sans', sans-serif;
    font-weight: 500;
}

